.app {
  width: 512px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #ccc;
  min-height: 100vh;
}

@media (max-width: 500px) {
  .app {
    width: 100%;
  }
}

.brand {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em 0;
}

.nav {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.nav-item {
  display: inline-block;
  flex: 1 1 0;
  text-align: center;
  padding: 1em 0;
}

.nav-item:not(:last-child) {
  border-right: 1px solid #ccc;
}

.nav-item:hover {
  color: white;
  background-color: #0070f3;
  transition: 0.3s;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  color: #0010f3;
}

.section {
  padding: 1em 3em;
}

.articles-container {
  margin: 2em 0;
}

.articles-container {
  margin: 3em 0;
  border-top: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.articles {
  margin-top: 2em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2em;
}

.article {
  margin-top: 2em;
}

.article-image {
  width: 100%;
  height: auto;
  border-radius: 1em;
  margin: 2em 0;
}

.article-date {
  font-size: 0.8em;
  color: #666;
}